*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: sans-serif;
}
body{
    background-image: url(/sky.jpg);  
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    
}
footer{
    width: 500px;
    height: 500px;
    
}
header{
    width: 100%;
    padding: 30px 10px;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .name{
    font-size: 1.5em;
    color: azure;
   }

   .navigation a{
    position: relative;
    font-size: 1.4em;
    padding: 20px;
   }
  .flex-container{
    display: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}
  .flex-item:nth-child(1){
    background-color: black;
    order: 1;
    
  
  }