*{
    padding: 0;
    margin: 0;
    font-style: sans-serif;
    font-size: x-large;
}
body{
    background: rgba(0, 0, 0, 0.3) url(/sky.jpg); 
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;

    
}
footer{
    padding: 100px;
    text-align: center;    
}
header{
    width: 100%;
    padding: 30px 10px;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
   }

   .name{
    font-size: 1.5em;
    color: azure;
   }

   .navigation a{
    position: relative;
    font-size: 1.4em;
    padding: 20px;
   }
   .container{
    display: grid;
   }
   .about-me{
    text-align: center;
    font-size: large;
   }